@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right,red,green);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}

h1{
    text-shadow: 10px 10px 10px rgba(255, 0, 0, 0.921);
    
}